In [1]:
import re
import pandas as pd
df = pd.read_excel('testing_for_AdaptiveAPI.xlsx')
# f = open(,encoding="utf8")
# x = f.readlines()
# x[:100]
df[:20]

,question_id,answers,difficulty_level,topic_id,chapter_id,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,2049,"{1"":""<p>92 &plusmn; 2\ud835\udc60<\/p>""}""",1,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2050,"{1"":""<p>2.45 &times; 10<sup>&minus;3<\/sup> kg...",1,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2052,"{1"":""<p><math xmlns=\""http:\/\/www.w3.org\/199...",15,3699,236,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2054,"{3"":""<p><math xmlns=\""http:\/\/www.w3.org\/199...",26,3646,227,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2055,"{3"":""<p><math xmlns=\""http:\/\/www.w3.org\/199...",14,3470,294,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2056,"{3"":""<p><math xmlns=\""http:\/\/www.w3.org\/199...",26,3469,294,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2057,"{4"":""<p><math xmlns=\""http:\/\/www.w3.org\/199...",14,3469,294,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2058,"{1"":""<p><math xmlns=\""http:\/\/www.w3.org\/199...",12,3638,224,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2059,"{3"":""<p>0.29 and 3.5 m<\/p>""}""",12,3666,230,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2060,"{1"":""<p><math xmlns=\""http:\/\/www.w3.org\/199...",8,3638,224,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2061,"{3"":""<p>0.29 and 3.5 m<\/p>""}""",23,3666,230,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2063,"{1"":""<p>Simple diode",Zener diode,Solar cell,"Light dependent resistance<\/p>""}""",2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2065,"{2"":""(2S","3R)""}""",2,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2066,"{1"":""<p><math xmlns=\""http:\/\/www.w3.org\/199...",12,3638,224,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2068,"{3"":""<p><math xmlns=\""http:\/\/www.w3.org\/199...",15,3666,230,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2070,"{1"":""<p>turn left.<\/p>""}""",20,3678,232,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2076,"{1"":""<p>Is an empty set<\/p>""}""",11,3561,309,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2081,"{4"":""<p>0.14 mC<\/p>""}""",3,3739,252,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2082,"{4"":""<p>83&deg;C<\/p>""}""",2,3701,237,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2083,"{3"":""<p><math xmlns=\""http:\/\/www.w3.org\/199...",15,3712,240,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df = df.fillna('')
df[:4]

,question_id,answers,difficulty_level,topic_id,chapter_id,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,2049,"{1"":""<p>92 &plusmn; 2\ud835\udc60<\/p>""}""",1,0,,,,,,,...,,,,,,,,,,
1,2050,"{1"":""<p>2.45 &times; 10<sup>&minus;3<\/sup> kg...",1,0,,,,,,,...,,,,,,,,,,
2,2052,"{1"":""<p><math xmlns=\""http:\/\/www.w3.org\/199...",15,3699,236,,,,,,...,,,,,,,,,,
3,2054,"{3"":""<p><math xmlns=\""http:\/\/www.w3.org\/199...",26,3646,227,,,,,,...,,,,,,,,,,

In [14]:
df = df.astype('str')
df.dtypes

question_id         object
answers             object
difficulty_level    object
topic_id            object
chapter_id          object
Unnamed: 5          object
Unnamed: 6          object
Unnamed: 7          object
Unnamed: 8          object
Unnamed: 9          object
Unnamed: 10         object
Unnamed: 11         object
Unnamed: 12         object
Unnamed: 13         object
Unnamed: 14         object
Unnamed: 15         object
Unnamed: 16         object
Unnamed: 17         object
Unnamed: 18         object
Unnamed: 19         object
Unnamed: 20         object
Unnamed: 21         object
Unnamed: 22         object
Unnamed: 23         object
Unnamed: 24         object
Unnamed: 25         object
Unnamed: 26         object
Unnamed: 27         object
Unnamed: 28         object
Unnamed: 29         object
Unnamed: 30         object
Unnamed: 31         object
Unnamed: 32         object
Unnamed: 33         object
Unnamed: 34         object
Unnamed: 35         object
Unnamed: 36         object
Unnamed: 37         object
Unnamed: 38         object
Unnamed: 39         object
Unnamed: 40         object
Unnamed: 41         object
Unnamed: 42         object
Unnamed: 43         object
Unnamed: 44         object
Unnamed: 45         object
Unnamed: 46         object
Unnamed: 47         object
dtype: object

In [15]:
df['combined'] = df[df.columns.values].T.agg(','.join)
df['combined']

0        2049,{1":"<p>92 &plusmn; 2\ud835\udc60<\/p>"}"...
1        2050,{1":"<p>2.45 &times; 10<sup>&minus;3<\/su...
2        2052,{1":"<p><math xmlns=\"http:\/\/www.w3.org...
3        2054,{3":"<p><math xmlns=\"http:\/\/www.w3.org...
4        2055,{3":"<p><math xmlns=\"http:\/\/www.w3.org...
                               ...
57585    179428,{4":"<p>I and IV<\/p>\n<img src=\"https...
57586    179429,{4":"<p>I, II and III<\/p>\n<img src=\"...
57587    179430,{3":"<p>I, II and III<\/p>\n<img src=\"...
57588    179431,{2":"<p>I and III<\/p>\n<img src=\"http...
57589    179432,{3":"<p>I and II only<\/p>\n<img src=\"...
Name: combined, Length: 57590, dtype: object

In [37]:
new_df = pd.DataFrame(columns = ['q_id', 'corr_opt', 'diff_lev', 'top_id', 'chap_id'])
pattern = r'(\d+),\{(\d)":".*?"\}",(\d+),(\d+),(\d+)'
n = len(df)
# n = 50
for i in range(n):
    data = re.findall(pattern, df.loc[i,'combined'])
    if data:
        new_df.loc[i,:] = data[0]
    if i%1000 == 0:
        print(f'Data extracted for total {i+1} questions')
new_df.to_csv('q_data.csv')
print('done')

Data extracted for total 1 questions
Data extracted for total 1001 questions
Data extracted for total 2001 questions
Data extracted for total 3001 questions
Data extracted for total 4001 questions
Data extracted for total 5001 questions
Data extracted for total 6001 questions
Data extracted for total 7001 questions
Data extracted for total 8001 questions
Data extracted for total 9001 questions
Data extracted for total 10001 questions
Data extracted for total 11001 questions
Data extracted for total 12001 questions
Data extracted for total 13001 questions
Data extracted for total 14001 questions
Data extracted for total 15001 questions
Data extracted for total 16001 questions
Data extracted for total 17001 questions
Data extracted for total 18001 questions
Data extracted for total 19001 questions
Data extracted for total 20001 questions
Data extracted for total 21001 questions
Data extracted for total 22001 questions
Data extracted for total 23001 questions
Data extracted for total 24001 questions
Data extracted for total 25001 questions
Data extracted for total 26001 questions
Data extracted for total 27001 questions
Data extracted for total 28001 questions
Data extracted for total 29001 questions
Data extracted for total 30001 questions
Data extracted for total 31001 questions
Data extracted for total 32001 questions
Data extracted for total 33001 questions
Data extracted for total 34001 questions
Data extracted for total 35001 questions
Data extracted for total 36001 questions
Data extracted for total 37001 questions
Data extracted for total 38001 questions
Data extracted for total 39001 questions
Data extracted for total 40001 questions
Data extracted for total 41001 questions
Data extracted for total 42001 questions
Data extracted for total 43001 questions
Data extracted for total 44001 questions
Data extracted for total 45001 questions
Data extracted for total 46001 questions
Data extracted for total 47001 questions
Data extracted for total 48001 questions
Data extracted for total 49001 questions
Data extracted for total 50001 questions
Data extracted for total 51001 questions
Data extracted for total 52001 questions
Data extracted for total 53001 questions
Data extracted for total 54001 questions
Data extracted for total 55001 questions
Data extracted for total 56001 questions
Data extracted for total 57001 questions
done

In [5]:
df.shape

(57590, 48)

In [27]:
new_df = pd.DataFrame(columns = ['q_id', 'corr_opt', 'diff_lev', 'top_id', 'chap_id'])
i = 0
data = [(1,2,3,4,5)]
new_df.loc[i,:] = data[0]
new_df
i = 1
data = [(1,2,3,4,5)]
new_df.loc[i,:] = data[0]
new_df

  q_id corr_opt diff_lev top_id chap_id
0    1        2        3      4       5
1    1        2        3      4       5

In [28]:
len(df)

57590

In [29]:
data

[(1, 2, 3, 4, 5)]

In [31]:
if data:
    print('data var is not empty')

data var is not empty